.header {
    border-radius: 0px 0px vw(30) vw(30);
    background: #FFF;
    position: relative;
    z-index: 10;
    @media all and (max-width: 1023px) {
        border-radius: 0px 0px 30px 30px;
    }
    &__in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: vw(20);
        padding-bottom: vw(20);
        @media all and (max-width: 1023px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    &__logo {
        font-size: 0;
        max-width: vw(196);
        width: 100%;
        margin-right: vw(80);
        img {
            width: 100%;
        }
        @media all and (max-width: 1023px) {
            max-width: 126px;
            margin-right: 10px;
        }
    }
    &__menu {
        @media all and (max-width: 1023px) {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                &:not(:last-child) {
                    border-right: 1px solid rgba(0, 0, 0, 0.3);
                }
                a {
                    color: #000;
                    font-size: vw(20);
                    font-style: normal;
                    text-decoration: none;
                    font-weight: 400;
                    margin-left: vw(20);
                    margin-right: vw(20);
                    display: inline-block;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin-left: vw(80);
        @media all and (max-width: 1023px) {
            display: none;
            &--mob {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0;
            }
        }
    }
    &__tel {
        color: #2A8BEA;
        font-size: vw(20);
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        line-height: 100%;
        text-transform: uppercase;
        margin-right: vw(30);
        white-space: nowrap;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            margin-right: 0;
            font-size: 30px;
            color: #FFF;
        }
    }
    &__btn {
        border: 0;
        color: #FFF;
        font-size: vw(16);
        white-space: nowrap;
        font-style: normal;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        padding: vw(14) vw(26);
        padding-top: vw(17);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 20px;
            width: 100%;
        }
    }
    &__burger {
        display: none;
        @media all and (max-width: 1023px) {
            display: block;
        }
        &--icon {
            cursor: pointer;
            width: 105px;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: space-between;
            span {
                margin-right: 20px;
                display: inline-block;
            }
            svg {
                width: 44px;
                height: 44px;
            }
        }
        &--top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;  
            border-radius: 0px 0px 30px 30px;
            background: #FFF;
        }
        &--close {
            cursor: pointer;
            width: 125px;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: space-between;
            span {
                margin-right: 20px;
                display: inline-block;
            }
            svg {
                width: 44px;
                height: 44px;
            }
        }
        &--logo {
            max-width: 126px;
            margin-right: 10px;
        }
        &--body {
            overflow: auto;
            width: 100%;
            position: fixed;
            z-index: 10;
            right: -100%;
            top: 0;
            height: 100%;
            background: #2A8BEA;
        }
        &--burg {
            padding: 50px 20px;
            height: calc(100vh - 115px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--main-menu {
            height: calc(100% - 113px);
            overflow: auto;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(255, 255, 255, .2);
                    }
                    a {
                        display: block;
                        padding-top: 40px;
                        padding-bottom: 40px;
                        color: #FFF;
                        font-size: 24px;
                        font-style: normal;
                        text-decoration: none;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
            }
        }
        &.isOpened {
            .header__burger--body {
                right: 0;
            }
        }
    }
}