body {
    box-sizing: border-box;
}
*,
::after,
::before {
    font-family: 'Mont', sans-serif, cursive;
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
.main_contacts__map, .main_contacts__map * {
    transition: unset;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    height: inherit;
}
.ovh {
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.content {
    flex: 1 0 auto;
    &__main {
        background: url('../img/bg2.jpg') 50% / cover no-repeat;
        @media all and (max-width: 1023px) {
            border-radius: 20px;
        }
    }
}
.footer {
    flex: 0 0 auto;
}
.center_block {
    max-width: vw(1320);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(20);
    padding-right: vw(20);
    @media all and (max-width: 1023px) {
        max-width: 1320px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}
// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}
/* Track */
*::-webkit-scrollbar-track {
    background: #2A8BEA;
    border-radius: 10px 0px 0px 10px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #000;
}
// scrollbar end
.s_button {
    background-color: #000;
    &:hover, &:active {
        background-color: #2A8BEA;
    }
}
.wpcf7-spinner {
    display: none !important;
}
.wpcf7-response-output {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: vw(14);
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: red;
    width: calc(100% - vw(200)) !important;
    @media all and (max-width: 1023px) {
        width: 100% !important;
        font-size: 12px;
        bottom: 50px;
    }
}
form {
    position: relative;
}
.main_form {
    .wpcf7-response-output {
        bottom: -20px;
        @media all and (max-width: 1023px) {
            bottom: -50px;
        }
    }
}
.modal__form--form {
    .wpcf7-response-output {
        width: 100% !important;
    }
}
.form_done {
    display: none;
}
.main_form__in, .modal__in {
    &.isSent {
        .wpcf7, .main_form__title {
            display: none;
        }
        .form_done {
            display: block;
            .main_form__title {
                display: block;
            }
        }
    }
}