.main_photo {
    padding-top: vw(130);
    padding-bottom: vw(130);
    border-radius: vw(40);
    overflow: hidden;
    background: url('../img/bg4.jpg') 50% / cover no-repeat;
    @media all and (max-width: 1023px) {
        padding-top: 80px;
        padding-bottom: 92px;
        border-radius: 20px;
    }
    &__title {
        margin-bottom: vw(50);
        color: #000;
        font-size: vw(55);
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        text-transform: uppercase;
        @media all and (max-width: 1023px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
    .slick-list {
        margin-left: vw(-10);
        margin-right: vw(-10);
        @media all and (max-width: 1023px) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .slick-slide {
        margin-left: vw(10);
        margin-right: vw(10);
        @media all and (max-width: 1023px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .slick-prev {
        right: vw(80);
        position: absolute;
        bottom: vw(-12);
        width: vw(40);
        height: vw(40);
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M28.3338 18.3333H15.6838L21.1838 12.85C21.4977 12.5361 21.674 12.1105 21.674 11.6667C21.674 11.2228 21.4977 10.7972 21.1838 10.4833C20.87 10.1695 20.4443 9.99316 20.0005 9.99316C19.5566 9.99316 19.131 10.1695 18.8171 10.4833L10.4838 18.8167C10.3321 18.9752 10.2131 19.1621 10.1338 19.3667C9.96711 19.7724 9.96711 20.2275 10.1338 20.6333C10.2131 20.8379 10.3321 21.0248 10.4838 21.1833L18.8171 29.5166C18.9721 29.6729 19.1564 29.7969 19.3595 29.8815C19.5626 29.9661 19.7805 30.0096 20.0005 30.0096C20.2205 30.0096 20.4383 29.9661 20.6414 29.8815C20.8445 29.7969 21.0289 29.6729 21.1838 29.5166C21.34 29.3617 21.464 29.1774 21.5486 28.9743C21.6332 28.7712 21.6768 28.5533 21.6768 28.3333C21.6768 28.1133 21.6332 27.8955 21.5486 27.6924C21.464 27.4893 21.34 27.3049 21.1838 27.15L15.6838 21.6667H28.3338C28.7758 21.6667 29.1998 21.4911 29.5123 21.1785C29.8249 20.8659 30.0005 20.442 30.0005 20C30.0005 19.558 29.8249 19.134 29.5123 18.8215C29.1998 18.5089 28.7758 18.3333 28.3338 18.3333Z' fill='black'/%3E%3C/svg%3E") 50% / 100% no-repeat;
        font-size: 0;
        cursor: pointer;
        border: 0;
        z-index: 2;
        &:hover {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M28.3338 18.3333H15.6838L21.1838 12.85C21.4977 12.5361 21.674 12.1105 21.674 11.6667C21.674 11.2228 21.4977 10.7972 21.1838 10.4833C20.87 10.1695 20.4443 9.99316 20.0005 9.99316C19.5566 9.99316 19.131 10.1695 18.8171 10.4833L10.4838 18.8167C10.3321 18.9752 10.2131 19.1621 10.1338 19.3667C9.96711 19.7724 9.96711 20.2275 10.1338 20.6333C10.2131 20.8379 10.3321 21.0248 10.4838 21.1833L18.8171 29.5166C18.9721 29.6729 19.1564 29.7969 19.3595 29.8815C19.5626 29.9661 19.7805 30.0096 20.0005 30.0096C20.2205 30.0096 20.4383 29.9661 20.6414 29.8815C20.8445 29.7969 21.0289 29.6729 21.1838 29.5166C21.34 29.3617 21.464 29.1774 21.5486 28.9743C21.6332 28.7712 21.6768 28.5533 21.6768 28.3333C21.6768 28.1133 21.6332 27.8955 21.5486 27.6924C21.464 27.4893 21.34 27.3049 21.1838 27.15L15.6838 21.6667H28.3338C28.7758 21.6667 29.1998 21.4911 29.5123 21.1785C29.8249 20.8659 30.0005 20.442 30.0005 20C30.0005 19.558 29.8249 19.134 29.5123 18.8215C29.1998 18.5089 28.7758 18.3333 28.3338 18.3333Z' fill='%232A8BEA'/%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
        @media all and (max-width: 1023px) {
            width: 30px;
            height: 30px;
            bottom: -12px;
            right: 50px;
        }
    }
    .slick-next {
        position: absolute;
        bottom: vw(-12);
        width: vw(40);
        right: 0;
        height: vw(40);
        font-size: 0;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M29.8667 19.3667C29.7873 19.1621 29.6684 18.9752 29.5167 18.8167L21.1833 10.4833C21.0279 10.3279 20.8435 10.2047 20.6404 10.1206C20.4374 10.0365 20.2198 9.99316 20 9.99316C19.5562 9.99316 19.1305 10.1695 18.8167 10.4833C18.6613 10.6387 18.538 10.8232 18.4539 11.0262C18.3698 11.2293 18.3265 11.4469 18.3265 11.6667C18.3265 12.1105 18.5028 12.5361 18.8167 12.85L24.3167 18.3333H11.6667C11.2246 18.3333 10.8007 18.5089 10.4882 18.8215C10.1756 19.134 10 19.558 10 20C10 20.442 10.1756 20.8659 10.4882 21.1785C10.8007 21.4911 11.2246 21.6667 11.6667 21.6667H24.3167L18.8167 27.15C18.6605 27.3049 18.5365 27.4893 18.4518 27.6924C18.3672 27.8955 18.3237 28.1133 18.3237 28.3333C18.3237 28.5533 18.3672 28.7712 18.4518 28.9743C18.5365 29.1774 18.6605 29.3617 18.8167 29.5166C18.9716 29.6729 19.1559 29.7969 19.359 29.8815C19.5621 29.9661 19.78 30.0096 20 30.0096C20.22 30.0096 20.4379 29.9661 20.641 29.8815C20.8441 29.7969 21.0284 29.6729 21.1833 29.5166L29.5167 21.1833C29.6684 21.0248 29.7873 20.8379 29.8667 20.6333C30.0334 20.2275 30.0334 19.7724 29.8667 19.3667Z' fill='black'/%3E%3C/svg%3E") 50% / 100% no-repeat;
        border: 0;
        z-index: 2;
        &:hover {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M29.8667 19.3667C29.7873 19.1621 29.6684 18.9752 29.5167 18.8167L21.1833 10.4833C21.0279 10.3279 20.8435 10.2047 20.6404 10.1206C20.4374 10.0365 20.2198 9.99316 20 9.99316C19.5562 9.99316 19.1305 10.1695 18.8167 10.4833C18.6613 10.6387 18.538 10.8232 18.4539 11.0262C18.3698 11.2293 18.3265 11.4469 18.3265 11.6667C18.3265 12.1105 18.5028 12.5361 18.8167 12.85L24.3167 18.3333H11.6667C11.2246 18.3333 10.8007 18.5089 10.4882 18.8215C10.1756 19.134 10 19.558 10 20C10 20.442 10.1756 20.8659 10.4882 21.1785C10.8007 21.4911 11.2246 21.6667 11.6667 21.6667H24.3167L18.8167 27.15C18.6605 27.3049 18.5365 27.4893 18.4518 27.6924C18.3672 27.8955 18.3237 28.1133 18.3237 28.3333C18.3237 28.5533 18.3672 28.7712 18.4518 28.9743C18.5365 29.1774 18.6605 29.3617 18.8167 29.5166C18.9716 29.6729 19.1559 29.7969 19.359 29.8815C19.5621 29.9661 19.78 30.0096 20 30.0096C20.22 30.0096 20.4379 29.9661 20.641 29.8815C20.8441 29.7969 21.0284 29.6729 21.1833 29.5166L29.5167 21.1833C29.6684 21.0248 29.7873 20.8379 29.8667 20.6333C30.0334 20.2275 30.0334 19.7724 29.8667 19.3667Z' fill='%232A8BEA'/%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
        @media all and (max-width: 1023px) {
            width: 30px;
            height: 30px;
            bottom: -12px;
            right: 0px;
        }
    }
    .slick-dots {
        border-radius: 30px;
        background: #F9F9F9;
        display: flex;
        list-style: none;
        padding: 0;
        height: vw(12);
        margin: 0;
        margin-top: vw(40);
        width: calc(100% - vw(220));
        @media all and (max-width: 1023px) {
            height: 5px;
            margin-top: 33px;
            width: calc(100% - 90px);
        }
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            button {
                border: 0;
                cursor: pointer;
                border-radius: 30px;
                background: #F9F9F9;
                font-size: 0;
                height: vw(12);
                width: 100%;
                position: relative;
                top: vw(-7);
                @media all and (max-width: 1023px) {
                    top: -10px;
                    height: 5px;  
                }
            }
            &.slick-active {
                button {
                    background: #2A8BEA;
                }
            }
        }
    }
    &__block {
        height: vw(354);
        font-size: 0;
        border-radius: 30px;
        overflow: hidden;
        @media all and (max-width: 1023px) {
            height: auto;
            border-radius: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}